.DS_Store
.idea
.testmondata
Pipfile
Pipfile.lock
build/
src/transmorph.egg-info
src/transmorph/__pycache__/
src/transmorph/datasets/data/
**/__pycache__/**
.pre-commit-config.yaml
**/figures/**
**/logs/**
**/.ipynb_checkpoints/**
docs/_build/
.testmondata
dist/
docs/.auctex-auto/
docs/sections/notebooks/data/
