.DS_Store
.idea
*.log
tmp/
Pipfile
Pipfile.lock
examples/.ipynb_checkpoints/
src/transmorph.egg-info
src/transmorph/__pycache__/
*/*__pycache__*
docs/tutorial/.ipynb_checkpoints/
examples/*.png
docs/_build/
dist/
transmorph.egg-info/
.archive/
**/__pycache__/**
venv
.pre-commit-config.yaml
*.png
build/
